@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";


@theme {
    --font-primary: "DM Sans", sans-serif;
    --font-secondary: "Chivo", sans-serif;
    --color-primaryButton: #43E7DF;
    --color-secondaryButton: #3639A4;
    --color-headingText: #2C2643;
    --color-paragraphText: #645E76;
}
.slick-prev:before {
    content: '←';
    color: blue !important;
}
.slick-next:before {
    content: '→';
    color: blue !important;
}
.slick-dots {
    margin-bottom: 5px !important;
}
